<footer>
  <div class="footer-content">
    <div class="footer-section">
      <h4>Quick Links</h4>
      <a href="/help-support">Help and Support</a>
      <a href="/feedback">Feedback</a>
      <a href="/about-us">About Us</a>
      <a href="/contact">Contact</a>
    </div>
    <div class="footer-section">
      <h4>Follow Us</h4>
      <div class="social-links">
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>© 2024 User-Home. All rights reserved<br>Created by Captain Jack </p>
  </div>
</footer>